.quiz-page-body {
    box-sizing: border-box;
    min-height: 100vh;
    height: 100%;
    width: 100%;
    padding: 0;

    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;

    background-color: #f4f3f2;
}

.quiz-page-header {
    width: 98%;
    margin-top: 1em;

    color: white;
    background-image: linear-gradient(to bottom right, purple, pink);
    border-radius: 1.3em;

    text-align: center;
    font-family: myFont;

    cursor: pointer;
}

.quiz-page-header h1 {
    margin: 0.5em;
}

.quiz-page-questiton-list {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

.quiz-page-question {
    width: 50%;
    margin-top: 1.5em;
    padding: 1em;

    border-radius: 0.5em;
    border-top: 20px solid var(--primary-color);
    border-bottom: 3px solid var(--primary-color);

    background-color: white;
    box-shadow: 0px 0px 10px 3px hsla(0, 0%, 0%, 0.1);
}

.quiz-page-question p {
    margin-top: 0;
    font-size: large;
}

.quiz-page-question-response {
    margin-top: 0.5em;
}

.quiz-page-question-response label {
    margin-left: 0.3em;
}

.quiz-page-submit-button {
    width: 20%;

    padding: 0.6em;
    margin-top: 1em;
    background-color: var(--primary-color);
    color: white;
    border: none;
    border-radius: 1em;

    font-size: 1.3em;

    cursor: pointer;
    transition: background-color 0.2s, color 0.2s;
}

.quiz-page-submit-button:hover {
    background-color: white;
    color: var(--primary-color);
    outline: 2px solid var(--primary-color);
    outline-offset: -2px;
}

.quiz-page-result {
    width: 50%;
    margin-top: 1.5em;
    padding: 1em;

    border-radius: 0.5em;
    border-top: 20px solid var(--primary-color);
    border-bottom: 3px solid var(--primary-color);

    background-color: white;
    box-shadow: 0px 0px 10px 3px hsla(0, 0%, 0%, 0.1);
}

.quiz-page-result h3 {
    text-align: center;
}

.quiz-page-result p {
    text-indent: 3em;
}

.quiz-page-result-img-container {
    width: 100%;
    height: 25em;
    overflow: hidden;
}

.quiz-page-result-img-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.quiz-page-result-return-buttton {
    margin-top: 1em;
    margin-bottom: 2em;
    padding: 0.5em;
    width: 40%;

    background-color: var(--primary-color);
    color: white;
    border: none;
    border-radius: 1em;

    font-size: 1.4em;

    cursor: pointer;
    transition: background-color 0.2s, color 0.2s;
}

.quiz-page-result-return-buttton:hover {
    background-color: white;
    color: var(--primary-color);
    outline: 2px solid var(--primary-color);
    outline-offset: -2px;
}