#question-options {
    overflow-y: hidden;
    list-style-type: none;
    padding-left: 0;
}

#question-options li button {
    width: 80%;
    padding: 1em;
    margin-bottom: 1em;
    
    text-align: left;
    font-weight: 400;

    border: none;
    border-left: 4px solid var(--primary-color);
    border-right: 4px solid var(--primary-color);
    background-color: white;
    color: var(--primary-color);
    border-radius: 0.4cm;
    box-shadow: 0 0.2em 0.3em 0 rgba(0, 0, 0, 0.2);

    cursor: pointer;

    transition: 0.2s;
}

#question-options li button:hover {
    background-color: var(--primary-color);
    color: white;
}