.login-form-wrapper {
    height: 100vh;
    overflow: hidden;

    display: flex;
    justify-content: center;
    align-items: center;
}

.login-form {
    height: auto;
    width: 30%;
    padding: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;

    border-radius: 1em;
    box-shadow: 0px 0px 10px 3px hsla(0, 0%, 0%, 0.1);
    background-color: white;
}

.login-form h3 {
    color: var(--primary-color);
}

.login-form input {
    width: 100%;
    height: 1.5em;
    margin-top: 0.2em;
    margin-bottom: 1em;
}

.login-form label {
    width: 100%;
    margin: 0;
}

.login-form label span {
    color: red;
}

.login-form-actions {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.login-form-actions button {
    height: 2.5em;

    border: none;
    border-radius: 0.5em;
    margin-bottom: 0.3em;
}

.login-form-action-button {
    width: 90%;
    margin-top: 0.8em;

    background-color: var(--primary-color);
    color: white;
    font-size: 1.2em;
    
    cursor: pointer;
    transition: background-color 0.2s, color 0.2s;
}

.login-form-action-button:hover {
    background-color: white;
    color: var(--primary-color);
    outline: 2px solid var(--primary-color);
    outline-offset: -2px;
}

.login-form-alternative-button {
    width: auto;

    background-color: white;
    color: var(--primary-color);
    cursor: pointer;
}

.login-form-alternative-button:hover {
    text-decoration: underline;
}