.quiz-editor {
    max-height: 100%;
    height: 100%;
    display: flex;
    position: relative;

    overflow: hidden;

    justify-content: space-evenly;
    align-items: center;
}

.quiz-editor-question {
    height: 100%;
    width: 100%;
    display: flex;

    flex-direction: column;
    justify-content: center;
    align-items: center;

    border-right: 1px solid rgb(202, 202, 202);
    background-color: rgb(248, 248, 248);
}

.quiz-editor-question textarea {
    height: 80%;
    width: 85%;
    padding: 1em;

    background-color: white;
    border: 1px solid rgb(202, 202, 202);

    vertical-align: top;
    text-align: left;

    resize: none;
}

.quiz-editor-responses {
    height: 100%;
    width: 100%;

    overflow: auto;

    border-right: 1px solid rgb(202, 202, 202);
    background-color: rgb(248, 248, 248);
}

.quiz-editor-responses * {
    height: 10%;
    width: 85%;
    margin-top: 1em;
    padding-left: 0.5em;
    padding-right: 0.5em;

    border: 1px solid rgb(202, 202, 202);
}

.quiz-editor-responses *:focus {
    outline: none;
    border: 2px solid var(--primary-color);
}

.quiz-editor-responses button {
    width: 85%;

    background-color: white;
    border: 2px solid var(--primary-color);
    border-radius: 0.5em;
    color: var(--primary-color);

    font-weight: bold;

    cursor: pointer;

    transition: color 0.2s, background-color 0.2s;
}

.quiz-editor-responses button:hover {
    color: white;
    background-color: var(--primary-color);
}

.quiz-editor-weights {
    height: 100%;
    width: 100%;
    display: flex;

    flex-direction: column;
    align-items: center;
    overflow: auto;

    border-right: 1px solid rgb(202, 202, 202);
    background-color: rgb(248, 248, 248);
}

.weight-entry {
    width: 90%;
    text-align: left;
    margin-bottom: 0.5em;
}

.weight-entry input[type=number]:focus {
    outline: none;
    border: 2px solid var(--primary-color);
}

.save-button-active {
    position: absolute;
    bottom: 1em;
    right: 1em;
    padding: 0.5em 1.5em 0.5em 1.5em;

    background-color: var(--primary-color);
    color: white;
    border: none;
    border-radius: 0.5em;

    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.2s, color 0.2s;
}

.save-button-inactive {
    position: absolute;
    bottom: 1em;
    right: 1em;
    padding: 0.5em 1.5em 0.5em 1.5em;

    background-color: gray;
    color: white;
    border: none;
    border-radius: 0.5em;

    font-size: 1em;
    transition: 1ms;
}

.save-button-active:hover {
    background-color: white;
    color: var(--primary-color);
    outline: 2px solid var(--primary-color);
    outline-offset: -2px;
}

.delete-button {
    position: absolute;
    bottom: 1em;
    right: 11.5em;
    padding: 0.5em 1.5em 0.5em 1.5em;

    background-color: rgb(255, 84, 84);
    color: white;
    border: none;
    border-radius: 0.5em;

    font-size: 1em;
    transition: background-color 0.2s, color 0.2s;
    cursor: pointer;
}

.delete-button:hover {
    background-color: white;
    color: rgb(255, 84, 84);
    outline: 2px solid rgb(255, 84, 84);
    outline-offset: -2px;
}

.quiz-editor .quiz-editor-result-title {
    height: 100%;
    width: 100%;
    display: flex;

    flex-direction: column;
    justify-content: center;
    align-items: center;

    border-right: 1px solid rgb(202, 202, 202);
    background-color: rgb(248, 248, 248);
}

.quiz-editor .quiz-editor-result-title input {
    width: 80%;
}

.quiz-editor .quiz-editor-result-title button {
    width: 50%;
    margin-top: 1em;
    padding: 0.5em;

    background-color: gray;
    color: white;
    border-radius: 0.7em;
    border: none;

    font-size: 1.1em;
}

.quiz-editor .quiz-editor-result-title .quiz-editor-result-save-button-active {
    background-color: var(--primary-color);
    color: white;
    cursor: pointer;
    transition: background-color 0.2s, color 0.2s;
}

.quiz-editor .quiz-editor-result-title .quiz-editor-result-save-button-active:hover {
    background-color: white;
    color: var(--primary-color);
    outline: 2px solid var(--primary-color);
    outline-offset: -2px;
}

.quiz-editor .quiz-editor-result-title .quiz-editor-result-delete-button {
    background-color: rgb(255, 84, 84);
    color: white;
    cursor: pointer;
    transition: background-color 0.2s, color 0.2s;
}

.quiz-editor .quiz-editor-result-title .quiz-editor-result-delete-button:hover {
    background-color: white;
    color: rgb(255, 84, 84);
    outline: 2px solid rgb(255, 84, 84);
    outline-offset: -2px;
}

.quiz-editor .quiz-editor-result-description {
    height: 100%;
    width: 100%;
    display: flex;

    flex-direction: column;
    justify-content: center;
    align-items: center;

    border-right: 1px solid rgb(202, 202, 202);
    background-color: rgb(248, 248, 248);
}

.quiz-editor .quiz-editor-result-description textarea {
    height: 80%;
    width: 85%;
    padding: 1em;

    background-color: white;
    border: 1px solid rgb(202, 202, 202);

    vertical-align: top;
    text-align: left;

    resize: none;
}

.quiz-editor .quiz-editor-result-image {
    height: 100%;
    width: 100%;
    display: flex;

    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: rgb(248, 248, 248);
}

.quiz-editor .quiz-editor-result-image input {
    width: 80%;
    margin-top: 1em;
    margin-bottom: 1em;
}

.quiz-editor .quiz-editor-result-image .quiz-editor-result-image-container {
    margin-bottom: 1em;
    width: 20em;
    height: 100%;
    overflow: hidden;
}

.quiz-editor .quiz-editor-result-image .quiz-editor-result-img-container img {
    max-width: 100%;
    width: 100%;
    height: auto;
}