.builder-page-layout {
    background-color: lightgray;
    padding: 8px;
    overflow: hidden;

    height: calc(100vh - 15px);
    display: grid;
    grid-gap: 1vh 1vh;

    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 10fr 8fr;

    /* grid-template-rows: 1fr, 2fr; */
}

.builder-page-layout .page-element {
    border-radius: 10px;
    box-shadow: 5px 5px 5px hsla(0, 0%, 0%, 0.1);
    text-align: center;
    background-color: white;
}

#header {
    grid-column: 1 / 3;

    color: white;
    background-image: linear-gradient(to bottom right, purple, pink);

    cursor: pointer;
}

#sidebar {
    grid-column: 1 / 2;
    grid-row: 2 / 4;

    display: flex;
    flex-direction: column;
    overflow: hidden;

    background-color: rgb(248, 248, 248);
}

#sidebar h3 {
    margin: 0;
    padding-top: 0.5em;
    padding-bottom: 0.5em;

    text-align: left;
    color: hsl(0, 0%, 0%);
    padding-left: 1em;
    font-weight: 300;

    background-color: white;
    border-bottom: 1px solid rgb(202, 202, 202);
}

#content {
    grid-column: 2 / 3;
    grid-row: 2 / 3;

    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;

    background-color: rgb(248, 248, 248);
}

#content h3 {
    width: 100%;
    margin: 0;
    padding-top: 0.5em;
    padding-bottom: 0.5em;

    font-weight: 300;
    
    background-color:white;
    border-bottom: 1px solid rgb(202, 202, 202);
}

#editor {
    grid-column: 2 / 3;
    grid-row: 3 / 4;

    display:flex;
    flex-direction: column;
    overflow: hidden;

    background-color: rgb(248, 248, 248);
}

#editor h3 {
    width: 100%;
    margin: 0;
    padding-top: 0.5em;
    padding-bottom: 0.5em;

    font-weight: 300;
    
    background-color:white;
    border-bottom: 1px solid rgb(202, 202, 202);
}