.edit-page-body {
    box-sizing: border-box;
    min-height: 100vh;
    height: 100%;
    width: 100%;
    padding: 0;

    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;

    background-color: #f4f3f2;
}

.edit-page-header {
    width: 98%;
    margin-top: 1em;

    color: white;
    background-image: linear-gradient(to bottom right, purple, pink);
    border-radius: 1.3em;

    text-align: center;
    font-family: myFont;

    cursor: pointer;
}

.edit-page-header h1 {
    margin: 0.5em;
}

.quizzes {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    width: 90%;
}

.quiz-card {
    flex-basis: 45%;
    box-sizing: border-box;
    width: 100%;
    padding: 1em 2em 1em 2em;
    margin: 2em;
    overflow: hidden;

    border-radius: 1.5em;
    box-shadow: 0px 0px 10px 3px hsla(0, 0%, 0%, 0.1);

    background-color: white;
    transition: box-shadow 0.2s;
}

.quiz-card:hover {
    box-shadow: 0px 0px 10px 3px var(--primary-color);
}

.quiz-card-image-container {
    padding: 0;
    margin-top: -1em;
    margin-left: -2em;
    margin-right: -2em;

    width: 100% + 4em;
    height: 10em;
    overflow: hidden;
}

.quiz-card-image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.quiz-card .quiz-card-name {
    margin-bottom: 0.3em;
}

.quiz-card .quiz-card-author {
    color: gray;
    margin-top: 0;
}

.quiz-card .quiz-card-desc {
    text-indent: 2em;
}

.quiz-card-actions {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.quiz-card .quiz-card-edit-button {
    width: 100%;
    padding: 0.3em;
    margin-left: 0.5em;

    background-color: var(--primary-color);
    color: white;
    border: none;
    border-radius: 1em;

    text-align: center;
    font-size: 1.2em;
    cursor: pointer;
    transition: background-color 0.2s, color 0.2s;
}

.quiz-card .quiz-card-edit-button:hover {
    background-color: white;
    color: var(--primary-color);
    outline: 2px solid var(--primary-color);
    outline-offset: -2px;
}

.quiz-card .quiz-card-delete-button {
    width: 100%;
    padding: 0.3em;
    margin-right: 0.5em;

    background-color: red;
    color: white;
    border: none;
    border-radius: 1em;

    text-align: center;
    font-size: 1.2em;
    cursor: pointer;
    transition: background-color 0.2s, color 0.2s;
}

.quiz-card .quiz-card-delete-button:hover {
    background-color: white;
    color: red;
    outline: 2px solid red;
    outline-offset: -2px;
}