:root {
    --primary-color: #A04668;
}

body {
    background-size: 100vw 100vh;
    background-image: linear-gradient(to bottom, purple, pink, white);
    background-repeat: no-repeat;
    background-position: top center;
    background-attachment: fixed;

    padding: 0;
    margin: 0;

    overflow-y: auto;

    font-family: sans-serif;
}